{% extends 'base.html.twig' %}

{% block title 'admin.user.new.head.meta.title'|trans %}

{% block og_title 'admin.user.new.head.meta.title'|trans %}

{% block body_id 'admin-user-new' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'admin.user.new.body.h1'|trans }}</h1>

                    {{ include('admin/user/_form.html.twig') }}

                    <a href="{{ path('app_admin_user_index') }}">{{ 'link.admin.user.index'|trans }}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
