<form method="post" class="mt-2" action="{{ path('app_admin_reduction_delete', {'slug': reduction.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this reduction?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reduction.slug) }}">
    <button class="btn btn-sm btn-danger">{{ 'btn.delete'|trans }}</button>
</form>
