<form method="post" class="mt-2" action="{{ path('app_admin_reduction_change_status', {'slug': reduction.slug}) }}" onsubmit="return confirm('Are you sure you want to validate this reduction ?');">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="_token" value="{{ csrf_token('status' ~ reduction.slug) }}">
    <button class="btn btn-sm btn-warning">{{ 'btn.status'|trans }}</button>
</form>
