{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section>

        {% include 'default/_flash_messages.html.twig' %}

        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1><i class="fab fa-galactic-republic"></i> Home</h1>
                    {% if is_granted('ROLE_ADMIN') %}
                        <ul>
                            <li><a href="{{ path('admin_index') }}">Go to the admin dashboard</a></li>
                        </ul>
                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                        <ul>
                            <li><a href="{{ path('dashboard') }}">Go to the dashboard</a></li>
                        </ul>
                    {% else %}
                        <ul>
                            <li><a href="{{ path('app_login') }}">Let's log in</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
