{% extends 'base_admin.html.twig' %}

{% block og_title 'admin.dashboard.head.meta.title'|trans %}
{% block title 'admin.dashboard.head.meta.title'|trans %}

{% block content_id 'admin-dashboard' %}

{% block admin_title 'admin.dashboard.body.h1'|trans %}
{% block admin_content -%}
    <div class="bg-white box-shadow border-radius pr-3 pt-3 pl-3 mb-4">
        <div class="row">
            <div class="col">
                <p class="p-2 text-secondary">
                    Cette section "Tableau de bord" sera remplie lors des prochaines majs (statistiques, annonces, liens utiles etc...).
                </p>
            </div>
        </div>
    </div>
{% endblock %}
