<form method="post" class="mt-2" action="{{ path('app_admin_opinion_delete', {'uuid': opinion.uuid}) }}" onsubmit="return confirm('Are you sure you want to delete this opinion?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ opinion.uuid) }}">
    <button class="btn btn-sm btn-danger">{{ 'btn.delete'|trans }}</button>
</form>
