/*!
 * SF Gendarmerie Reduction Admin Theme.
 * Copyright 2019-2020 Gaëtan Rolé-Dubruille.
 */

/* Body and global styles
-------------------------------------------------- */

/** Global styles **/

/** SideBar **/

#sidebar {
    color: var(--white) !important;
    position: fixed;
    width: 250px;
    min-height: 100%;
    margin-top: 50px;
    top: 0;
    bottom: 0;
    vertical-align: top;
    z-index: 99;
    transition: all 0.3s;
}

#sidebar a {
    color: var(--grey);
    font-size: 0.9em;
    font-weight: lighter;
}

#sidebar i {
    position: relative;
    display: inline-block;
    width: 21px;
    text-align: center;
    margin-right: 10px;
}

#sidebar input[type="text"], #sidebar textarea {
    outline: none;
    box-shadow: none !important;
    border: transparent !important;
}

#sidebar .sidebar-header h4 {
    font-size: 1.3rem;
    color: var(--white);
    padding: 40px 15px 0 15px;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px;
    margin: 0;
}

#sidebar ul p {
    color: var(--white);
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--white);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: var(--white);
}

.sidebar-toggler-icon {
    display: block;
    padding: 5px;
    width: 1.5em;
    height: 1.5em;
}

#sidebar.active {
    margin-left: -250px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    display: block;
    background-color: var(--white);
    margin: 50px 0 0 250px;
    transition: all 0.3s;
}

/* Responsive
-------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        margin: 0;
    }

    footer {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    #sidebar {
        margin-left: 0 !important;
    }

    footer {
        margin-left: 250px;
    }
}
