/*!
 * SF Gendarmerie Reduction Theme.
 * Copyright 2019-2020 Gaëtan Rolé-Dubruille.
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/* Root and Tags
-------------------------------------------------- */

:root {
    --white: #FFFFFF;
    --white-medium: #f5f5f7;
    --grey: #f8f9faab;
    --grey-opaque: #b9b9b9;
    --grey-medium: #2a3a48;
    --grey-dark: #12191f;
    --blue: #0258a1;
    --blue-light: #3b6f9b;
    --black: #000;
    --font-family-sans-serif: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    color: var(--grey-dark);
    background-color: var(--white-medium);
    font-family: var(--font-family-sans-serif);
    height: 100%;
    overflow-x: hidden;
}

h1 {
    color: var(--grey-medium);
    font-size: 2em;
    line-height: 1.2;
    letter-spacing: 2px;
    word-break: break-word;
    text-transform: uppercase;
}

h2 {
    color: var(--grey-medium);
    font-size: 1.7em;
    line-height: 1.2;
    letter-spacing: 2px;
    word-break: break-word;
    text-transform: uppercase;
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--blue-light);
    text-decoration: none;
}

a:focus {
    outline: none !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

li {
    list-style: none;
}

p {
    font-weight: 100;
}

select {
    padding: 0 !important;
}

select option {
    padding: 15px;
}

select[multiple]:focus option:checked {
    background: linear-gradient(0deg, var(--grey-medium) 0%, var(--grey-medium) 100%);
}

.col-form-label,
label {
    font-weight: 600;
}

select,
textarea,
input[type="text"],
input[type="file"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background-color: var(--white);
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    height: 50px;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.custom-file-input:focus~.custom-file-label,
.select2-container--focus,
.uneditable-input:focus {
    border-color: rgb(180, 180, 180) !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.055) inset, 0 0 2px rgba(21, 21, 21, 0.4) !important;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.055) inset, 0 0 2px rgba(21, 21, 21, 0.4) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.055) inset, 0 0 2px rgba(21, 21, 21, 0.4) !important;
    outline: 0 none !important;
}

input[type="search"]:focus {
    border-color: transparent !important;
}

hr {
    border: 2px solid var(--grey-opaque);
    opacity: 0.3;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: var(--grey-medium);
}

::-webkit-scrollbar-thumb {
    background-color: var(--white-medium);
}

/* Bootstrap overriding
-------------------------------------------------- */

.alert {
    font-size: 0.9em;
}

.btn {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 5px 50px 5px 50px;
}

.btn-dark {
    background-color: var(--grey-dark) !important;
}

.btn-dark:hover {
    background-color: var(--grey-medium) !important;
}

.badge {
    padding: 0.6em;
}

.badge-pill {
    padding-right: 1em;
    padding-left: 1em;
}

.bg-light {
    background-color: var(--white) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-dark {
    background-color: var(--grey-dark) !important;
}

.text-dark {
    color: var(--grey-dark) !important;
}

.navbar {
    padding: .2rem 0.8rem !important;
}

.dropdown-menu > ul > li > a:hover {
    color: var(--white);
    background-color: var(--grey-dark);
    background-image: none;
}

.card {
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.card:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 5px 10px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 5px 10px !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0 5px 10px !important;
}

.img-thumbnail {
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--grey);
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

.input-group-text {
    color: var(--white);
    background-color: var(--grey-medium);
}

.breadcrumb {
    background-color: transparent;
    padding: .6rem 0.9rem;
}

.breadcrumb a {
    color: var(--white);
}

.breadcrumb a:hover {
    color: var(--grey);
}

.breadcrumb-item.active {
    color: var(--grey);
}

.page-link {
    position: relative;
    display: block;
    padding: .75rem;
    color: var(--grey-medium);
    border: none;
}

.page-link:hover {
    color: var(--grey-medium);
    text-decoration: none;
    background-color: var(--grey-light);
    border-color: transparent;
}

.page-item.active .page-link {
    background-color: var(--grey-medium);
    border-color: transparent;
}

.page-link:focus {
    box-shadow: none;
}

/* Select2 overriding
-------------------------------------------------- */

.select2-container {
    width: 100% !important;
}

.select2-dropdown {
    border: none;
    border-radius: 0;
}

.select2-container--default .select2-selection--single {
    background-color: var(--white) !important;
    border: 1px solid var(--grey-opaque) !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    height: 50px !important;
    padding: 10px !important;
}

.select2-container--default .select2-results>.select2-results__options {
    color: var(--grey-medium) !important;
    font-weight: 100 !important;
    max-height: 200px;
    overflow-y: auto;
}

.select2-results__option[aria-selected] {
    padding: 15px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--grey-medium) !important;
    color: white !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute !important;
    height: 45px !important;
    top: 1px !important;
    right: 10px !important;
    width: 20px !important;
}

span.select2-selection.select2-selection--single {
    outline: none;
}

/* Header
-------------------------------------------------- */

.notification-badge {
    float:right;
    margin-bottom:-20px;
}

.background-gradient {
    background: rgb(19,28,35);
    background: -moz-linear-gradient(270deg, rgb(18, 25, 31) 52%, rgba(22, 41, 56, 0.93) 100%);
    background: -webkit-linear-gradient(270deg, rgb(18, 25, 31) 52%, rgba(22, 41, 56, 0.93) 100%);
    background: linear-gradient(270deg, rgb(18, 25, 31) 52%, rgba(22, 41, 56, 0.93) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131c23",endColorstr="#001424",GradientType=1);
}

.index-header-background {
    min-height: 600px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

/* Body and global styles
-------------------------------------------------- */

/** Global styles **/

.container-semi-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.fas {
    font-size: 0.9em;
}

.box-shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.10) 0 2px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.10) 0 2px 6px;
    box-shadow: rgba(0, 0, 0, 0.10) 0 2px 6px;
}

.border-radius {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}

/* Index */

.card-title {
    font-size: 1em;
    font-weight: bold;
}

/* Login */

#login {
    height: 950px;
    padding: 50px 40px 100px 40px;
}

#login .container {
    height: 100%;
    background-color: var(--white);
    -webkit-box-shadow: rgba(0, 0, 0, 0.10) 0 2px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.10) 0 2px 6px;
    box-shadow: rgba(0, 0, 0, 0.10) 0 2px 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#login .row {
    height: inherit;
}

#login .gendarmerie-background {
    background-image: url('../images/login-form-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
}

#login img {
    width: 70px;
}

/* Search */

.search-bar {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;
    border: 1px solid var(--white-medium);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.search-btn {
    color: var(--white);
    background-color: var(--grey-dark);
    font-size: 0.9rem;
    width: auto;
    margin-top: 35px;
    padding: 14px 24px 14px 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-style: none !important;
}

.search-btn:hover {
    background-color: var(--grey-medium);
}

#search-form label {
    padding: 10px;
}

#search-form .form-check {
    padding-left: 0;
    display: inline-block;
}

#search-form .form-check-input {
    -webkit-appearance: none;
    outline: none;
    margin-left: 0;
}

#search-form .form-check label {
    cursor: pointer;
    word-break: break-word;
}

#search-form .form-check label:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--grey-medium);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .50s ease-in;
}

#search_method_0:checked ~ label:before,
#search_method_0:checked ~ label:focus:before {
    visibility: visible;
    transform: scaleX(1);
}
#search_method_1:checked ~ label:before,
#search_method_1:checked ~ label:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

/* Reduction */

.custom-file-label::after {
    opacity: 0;
}

.custom-file-label {
    padding: 12px 0 0 20px;
    height: 50px;
}

/* Responsive
-------------------------------------------------- */


@media (min-width: 576px) {
    .container-semi-fluid {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-semi-fluid {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-semi-fluid {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-semi-fluid {
        max-width: 1480px;
    }
}
