{% extends 'base.html.twig' %}

{% block og_title 'opinion.comment.head.meta.title'|trans %}
{% block title 'opinion.comment.head.meta.title'|trans %}

{% block content_id 'opinion-comment' %}
{% block content %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'opinion.comment.body.h1'|trans }}</h1>

                    {{ include('opinion/_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
