{% extends 'base.html.twig' %}

{% block title %}{{ 'opinion.new.head.meta.title'|trans }}{% endblock %}

{% block body_id 'opinion-new' %}

{% block body %}
    <section>

        {% include 'default/_flash_messages.html.twig' %}

        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'opinion.new.body.h1'|trans }}</h1>

                    {{ include('opinion/_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
