{% extends 'base_admin.html.twig' %}

{% block og_title 'category.admin.edit.head.meta.title'|trans %}
{% block title 'category.admin.edit.head.meta.title'|trans %}

{% block content_id 'category-admin-edit' %}

{% block admin_title 'category.admin.edit.body.h1'|trans %}
{% block admin_content -%}
    {% import 'macro/_breadcrumb.html.twig' as macro_breadcrumb %}

    {{ macro_breadcrumb.breadcrumb({'app_admin_category_index': 'link.admin.category.index'|trans, 'app_admin_category_edit': 'link.admin.category.edit'|trans }) }}

    <div class="bg-white box-shadow border-radius pr-3 pt-3 pl-3 mb-4">
        <div class="row">
            <div class="col-lg p-4">
                {{ include('category/admin/_form.html.twig') }}
                {{ include('category/admin/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
