{% extends 'base.html.twig' %}

{% block og_title 'category.admin.new.head.meta.title'|trans %}
{% block title 'category.admin.new.head.meta.title'|trans %}

{% block content_id 'category-admin-new' %}
{% block content %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'category.admin.new.body.h1'|trans }}</h1>

                    {{ include('category/admin/_form.html.twig') }}

                    <a href="{{ path('app_admin_category_index') }}">{{ 'link.admin.category.index'|trans }}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
