{% extends 'base_admin.html.twig' %}

{% block og_title 'brand.admin.new.head.meta.title'|trans %}
{% block title 'brand.admin.new.head.meta.title'|trans %}

{% block content_id 'brand-admin-new' %}

{% block admin_title 'brand.admin.new.body.h1'|trans %}
{% block admin_content -%}
    {% import 'macro/_breadcrumb.html.twig' as macro_breadcrumb %}

    {{ macro_breadcrumb.breadcrumb({'app_admin_brand_index': 'link.admin.brand.index'|trans, 'app_admin_brand_new': 'link.admin.brand.new'|trans }) }}

    <div class="bg-white box-shadow border-radius pr-3 pt-3 pl-3 mb-4">
        <div class="row">
            <div class="col-lg p-4">
                {{ include('brand/admin/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
