{% extends 'base.html.twig' %}

{% block title %}New Reduction{% endblock %}

{% block body %}
    <h1>Create new Reduction</h1>

    {{ include('reduction/_form.html.twig') }}

    <a href="{{ path('reduction_index') }}">back to list</a>
{% endblock %}
