<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Gaëtan Rolé-Dubruille">
    <meta name="description" content="{% block description 'base.head.meta.description'|trans %}">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <meta property="og:image" content="{% block og_image 'https://raw.githubusercontent.com/GaetanRole/sf4.4-official-gendarmerie-reduction/master/public/assets/images/gendarmerie-logo.png' %}">
    <meta property="og:title" content="PromoGend - {% block og_title 'base.head.meta.title'|trans %}">
    <meta property="og:description" content="{% block og_description 'base.head.meta.description'|trans %}">

    <title>PromoGend - {% block title 'base.head.meta.title'|trans %}</title>

    <!-- CSS Vendors -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">

    {% block stylesheets -%}
    {% endblock %}

    {%- include '_favicons.html.twig' only %}
</head>
<body>
<header>
    {% block header -%}
        {% include '_navbar.html.twig' with {'currentRoute': app.request.attributes.get('_route')} only %}
    {%- endblock %}
</header>

<main id="main">
    {% include '_flash_messages.html.twig' only %}

    <section id="{% block body_id '' %}">
        {% block body %}
        {% endblock %}
    </section>
</main>

<footer class="bg-dark p-3">
    {% block footer -%}
        {% include '_footer.html.twig' only %}
    {%- endblock -%}
</footer>

<!-- Kit's code from Font Awesome with unique ID -->
<script src="https://kit.fontawesome.com/8d75946265.js" crossorigin="anonymous"></script>
<!-- JS Vendors -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/app.min.js') }}"></script>

{% block javascripts -%}
{% endblock %}
</body>
</html>
