{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% include 'default/_flash_messages.html.twig' %}
    <h1>User profile</h1>
{% endblock %}

{% block javascripts %}
{% endblock %}
