<form method="post" class="mt-2" action="{{ path('app_admin_article_delete', {'slug': article.slug}) }}" onsubmit="return confirm('{{ 'admin.notification.confirm.delete'|trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.slug) }}">
    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i>&nbsp;{{ 'btn.delete'|trans }}</button>
</form>
